# ignorar os datasets de redações
dataset/TopicAlignment/Strategy1/mapping/*
dataset/TopicAlignment/Strategy1/synthetic_essays/*
dataset/TopicAlignment/Strategy1/results/*

# manter as pastas no github, ainda que vazias
!dataset/TopicAlignment/Strategy1/mapping/.gitkeep
!dataset/TopicAlignment/Strategy1/synthetic_essays/.gitkeep
!dataset/TopicAlignment/Strategy1/results/.gitkeep

# ignorar o .env
.env